{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["myClassList"],
  "tailwindFunctions": ["clsx", "tw"],
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true,
  "tailwindConfig": "./tailwind.config.js"
}
